body {
  font-family: Comic Sans MS;
  margin: 0px 100px;
  font-size: 20px;
  color: red;
  background-size: 100% auto;
  background-attachment: fixed;
}
.button {
      background-color:grey;
      color:black;
      padding: 10px 16px ;
      text-decoration:none ;
      text-align: center;
      font-size: 1.25em;
      border-radius: 15px;
      border-style: solid;
      border-color:darkgrey;
      display:inline-block;
    }